<main>
	<menu href="{RootMenu}architecture" value="Architecture"/>
	<menu href="{RootMenu}installation" value="Node.Cs Installation"/>
	<menu href="{RootMenu}netdiffrences" value="Porting from Asp.NET MVC"/>
	<menu value="Usage">
		<menu href="{RootMenu}usage/settings" value="Node.config and settings"/>
		<menu href="{RootMenu}usage/controllers" value="Mvc Controllers"/>
		<menu href="{RootMenu}usage/attributes" value="Attributes and filters"/>
		<menu href="{RootMenu}usage/security" value="Security and authentication"/>
	</menu>
	<menu value="Plugins">
		<menu href="{RootMenu}plugins/entityframework" value="Node.Cs.EntityFramework"/>
		<menu href="{RootMenu}plugins/razor" value="Node.Cs.Razor"/>
		<menu href="{RootMenu}plugins/admin" value="Node.Cs.Admin"/>
	</menu>
	<!--<menu value="Extensibility">
		<menu href="{RootMenu}extensibility/plugins" value="Plugins development"/>
		<menu href="{RootMenu}extensibility/controllersfactory" value="Controllers factory development"/>
		<menu href="{RootMenu}extensibility/pathproviders" value="Path providers development"/>
		<menu href="{RootMenu}extensibility/handlers" value="Handlers development"/>
	</menu>-->
</main>
