<?xml version="1.0"?>
<NodeCsConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<NodeCsSettings>
		<Application>$safeprojectname$</Application>
		<Factories>
			<ControllersFactory>Node.Cs.Lib.Controllers.BasicControllersFactory</ControllersFactory>
		</Factories>
		<Security>
			<LoginPage>/Account/LogOn</LoginPage>
			<AuthenticationType>Form</AuthenticationType>
			<Realm>$safeprojectname$-Realm</Realm>
		</Security>
		<Threading>
			<ThreadNumber>1</ThreadNumber>
			<MaxExecutingRequest>1000</MaxExecutingRequest>
			<MaxConcurrentConnections>10000</MaxConcurrentConnections>
			<MaxMemorySize>200000000</MaxMemorySize>
		</Threading>
		<Debugging>
			<Debug>true</Debug>
			<DebugAssemblyLoading>true</DebugAssemblyLoading>
		</Debugging>
		<Paths>
			<WebPaths>
				<PathProvider ClassName="Node.Cs.Lib.PathProviders.FileSystemPathProvider" ConnectionString="App_Web">
				</PathProvider>
			</WebPaths>
			<BinPaths>
				<Path>App_Bin</Path>
			</BinPaths>
			<DataDir>App_Data</DataDir>
		</Paths>
		<Listener>
			<Port>8080</Port>
			<ServerNameOrIp>*</ServerNameOrIp>
			<ServerProtocol>http</ServerProtocol>
			<SessionTimeout>3600</SessionTimeout>
			<RootDir />
			<Cultures Default="en-US" Available="fr-FR,it-IT"/>
		</Listener>
		<Plugins>
			<Plugin Dll="Node.Cs.EntityFramework.dll"/>
		</Plugins>
		<Handlers>
			<Handler Dll="Node.Cs.Razor.dll" ClassName="Node.Cs.Razor.RazorHandler">
				<Extensions>
					<Extension>cshtml</Extension>
				</Extensions>
			</Handler>
			<Handler ClassName="Node.Cs.Lib.Static.StaticHandler">
				<Extensions>
					<Extension>html</Extension>
					<Extension>htm</Extension>
				</Extensions>
			</Handler>
		</Handlers>
		<ConnectionStrings>
			<ConnectionString
				DataSource="Data Source=(LocalDb)\v11.0;Initial Catalog=AccountsDb;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|AccountsDb.mdf"
				Name="AccountsDb" Provider="System.Data.SqlClient"/>
		</ConnectionStrings>
		<DbProviderFactories>
			<Factory InvariantName="System.Data.SqlClient" Type="System.Data.SqlClient.SqlClientFactory, System.Data" />
		</DbProviderFactories>
	</NodeCsSettings>
	<EntityFrameworkSettings>
		<DefaultConnectionFactory Type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
		</DefaultConnectionFactory>
		<Providers>
			<Provider InvariantName="System.Data.SqlClient" Type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</Providers>
	</EntityFrameworkSettings>
</NodeCsConfiguration>