<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- This is used only to allow the syntax higlight in cshtml pages -->
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor" />
	</configSections>
	<system.web.webPages.razor>
		<pages pageBaseType="Node.Cs.RazorTemplate.WebConfigNodeCsTemplateBase" >
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
</configuration>