@model System.String
<html>
<head>
	<title>Hello World</title>
</head>
	<body>
		This is Home/default<br />
		Hello Worl. Today is @DateTime.UtcNow <br/>
		Model value is @Model <br />
		<a href="/nodecs/Home/Do/Value">/Home/Do/Value</a><br />
		<a href="/nodecs/Home">/Home</a><br />
		<a href="/nodecs/Home/Do">/Home/Do</a><br />
		<a href="/nodecs/CatchAll/All/That/Follows">/CatchAll/All/That/Follows</a><br />
		<a href="/nodecs/WebApi/Do">/WebApi/Do</a><br />
		<a href="/nodecs/WebApi/Do/Value">/WebApi/Do/Value</a><br />
	</body>

</html>