<?xml version="1.0"?>
<NodeCsSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Application>SimpleWebApp</Application>
	<Factories>
		<ControllersFactory>Node.Cs.Lib.Controllers.BasicControllersFactory</ControllersFactory>
	</Factories>
	<Security>
		<LoginPage>/Account/LogOn</LoginPage>
		<AuthenticationType>Basic</AuthenticationType>
	</Security>
	<Threading>
		<ThreadNumber>1</ThreadNumber>
		<MaxExecutingRequest>1000</MaxExecutingRequest>
		<MaxConcurrentConnections>10000</MaxConcurrentConnections>
		<MaxMemorySize>2000000000</MaxMemorySize>
	</Threading>
	<Paths>
		<WebPaths>
			<PathProviderDefinition>
				<!-- Default path provider -->
				<ClassName>Node.Cs.Lib.PathProviders.FileSystemPathProvider</ClassName>
				<!--<ConnectionString>App_Web</ConnectionString>-->
				<FileSystemPath>App_Web</FileSystemPath>
			</PathProviderDefinition>
		</WebPaths>
		<BinPaths>
			<string>App_Bin</string>
		</BinPaths>
		<DataDir>App_Data</DataDir>
	</Paths>
	<Listener>
		<Port>8080</Port>
		<ServerNameOrIp>*</ServerNameOrIp>
		<ServerProtocol>http</ServerProtocol>
		<SessionTimeout>3600</SessionTimeout>
		<RootDir />
		<Cultures Default="en-US" Available="fr-FR,it-IT"/>
	</Listener>
	<Handlers>
		<!-- Uncomment to enable razor -->
		<!--<HandlerDefinition>
			<Dll>Node.Cs.Razor.dll</Dll>
			<Handler>Node.Cs.Razor.RazorHandler</Handler>
			<Extensions>
				<string>cshtml</string>
			</Extensions>
		</HandlerDefinition>-->
		<HandlerDefinition>
			<Dll></Dll>
			<Handler>Node.Cs.Lib.Static.StaticHandler</Handler>
			<Extensions>
				<string>html</string>
				<string>htm</string>
			</Extensions>
		</HandlerDefinition>
	</Handlers>
</NodeCsSettings>
<!--copy /Y $(TargetDir)*.dll $(ProjectDir)App_Bin-->